/* Universal Styles */

body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a {
  color: seashell;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2,h3,h4 {
  margin: 0;
  padding: 10px
}

/* Header */

header {
  display: flex
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.heading {
  display: flex;
  flex-wrap: wrap;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

/* Mission */

#mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg);
  height: 700px;
  padding-top: 70px;
}

#mission .mainmission {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Tea of the Month */

#tea {
  width: 100px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

/* Locations */

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  
}
